Release*/
Debug*/
build/
html/
Test-Suite
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
!.github/
!.vscode/
!.config.in
!.config.cmake.in
!.gitignore
*~
*.o
*.ll
!Assignment-1/Tests/testcases/*/*.ll
!Assignment-2/Tests/testcases/*.ll
*.dot
*.out
*.bc
*.opt
*.log
*.status
*.obj
*.svf
*.cmake
MakeFile
CMakeFiles
CMakeCache.txt
*.tcl
bin
lib
Testing
*.sh
cmake-build-debug/
compile_commands.json
